<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlipChat"
        tools:targetApi="31">
        <activity
            android:name=".ui.bottom_navigation.ButtomNavigation"
            android:exported="false"
            android:label="@string/title_activity_buttom_navigation" />
        <activity
            android:name=".ui.sign_up.SignUp"
            android:exported="false" />
        <activity
            android:name=".ui.sign_in.SignIn"
            android:exported="false" /> <!-- Splash Screen -->
        <activity
            android:name=".ui.splash_screen.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- onBoarding screen -->
        <activity
            android:name=".ui.on_boarding.onBoarding"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- Sign in screen -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>